<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>My awesome movie review site</title>
</head>
<body ng-app="reviewApp" >
  <div ng-controller="reviewController as ctrl" class="container">
    <div>
        <img class="poster" ng-src="{{ctrl.movie.imgUrl}}">
    </div>
    <div class="infosection">
        <h1>{{ctrl.movie.title}}</h1>
        <div class="stars">
          <span ng-repeat="i in [1,2,3,4,5]" ng-class="{filled: ctrl.rating >= i}" ng-click="ctrl.changeStarRating(i)">&#9733;</span>
        </div>
        <p>{{ctrl.movie.description}}</p>
        <ul>
          <li ng-repeat="actor in ctrl.movie.actors">{{actor}}</li>
        </ul>
    </div>
  </div>
  <script src="bundle.js"></script>
</body>
</html>